<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Result</title>
</head>
<body>
  <h1>Test Result</h1>
  <p>Form ID: {{formId}}</p>
  <p></p>
  <p>{{username}}'s result:</p>
  <p>Correct: {{correctCount}}/{{questionsCount}}</p>
</body>
</html>