<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Result</title>
</head>
<body>
  <h1>Test Result</h1>
  <p>Form ID: {{formId}}</p>

  {{#each testResults}}
    <p>{{this.username}}'s result: {{this.correctCount}}/{{questionsCount}}</p>
  {{/each}}
</body>
</html>